.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list {
    width: 90%;
    max-width: 1240px;
    margin: 20px auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.feed-hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/assets/bg-hero.jpg");
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(236, 240, 241);
  text-shadow: 0px 2px 4px #29292B;
  justify-content: space-between;
}

@media only screen and (min-width: 560px) {
    .card-list {
      grid-template-columns: 1fr 1fr;
    }  
}

@media only screen and (min-width: 800px) {
    .card-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

