.history-container {
    width: 90%;
    max-width: 1240px;
    margin: 20px auto;

    display: grid;

    grid-template-rows: auto;
    grid-gap: 20px;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr;
}

.history-image-container img {
    width: 100%;
    overflow: hidden;
}

.txt-circle {
    background-image: url("../assets/txt-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6vh;
    padding: 80px 0;
    padding-left: 50px;
    margin-left: -30px;
}

.home-title {
    margin: 20px 0;
    justify-self: flex-start;
}
